* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    
    font-family: 'Raleway', sans-serif;
}




/* -------------------------------------------------------------------------- */
/*                                 Materialize                                */
/* -------------------------------------------------------------------------- */

.carousel {
    min-height: 700px;
}

.carousel .carousel-item{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 550px;
    height: 600px;
    
    
}


.carousel .carousel-item  img{
    width: 35%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
}

.carousel .indicators .indicator-item{
    margin: 0 15px;
    background: #36221c;
}

/* -------------------------------------------------------------------------- */
/*                               Estilos Imagen                               */
/* -------------------------------------------------------------------------- */

img{
    margin: 10px;
}
